# the generic stuff
include README
include ChangeLog
include COPYING
include TODO
include BUGS
include setup.py

# the base classes
include pyvisi/*.py

# the renderer modules
include pyvisi/renderers/vtk/*.py
include pyvisi/renderers/gnuplot/*.py

# these are the examples to include so far
include examples/arrowPlot.py
include examples/arrowPlot2D.py
include examples/arrowPlot3D.py
include examples/ballPlot.py
include examples/contourPlot.py
include examples/contourPlotMovie.py
include examples/ellipsoidPlot.py
include examples/isosurfacePlot.py
include examples/meshPlot.py
include examples/multiCurveLinePlot.py
include examples/offsetLinePlot.py
include examples/offsetPlot.py
include examples/randomLinePlot.py
include examples/seismicOffsetPlot1.py
#include examples/seismicOffsetPlot2.py
#include examples/seismicOffsetPlot3.py
include examples/simpleLinePlot.py
include examples/simpleLinePlotMovie.py
include examples/singleArrayLinePlot.py
include examples/surfaceAndContourPlot.py
include examples/surfacePlot.py
include examples/scatterPlot.py
include examples/scatterPlot3D.py

# escript examples
include examples/escript_scalarData1D.py
include examples/escript_scalarData2D.py
include examples/escript_scalarData3D.py
include examples/escript_threeByThreeTensorData1D.py
include examples/escript_threeByThreeTensorData2D.py
include examples/escript_threeByThreeTensorData3D.py
include examples/escript_threeDVectorData1D.py
include examples/escript_threeDVectorData2D.py
include examples/escript_threeDVectorData3D.py
include examples/escript_twoByTwoTensorData1D.py
include examples/escript_twoByTwoTensorData2D.py
include examples/escript_twoByTwoTensorData3D.py
include examples/escript_twoDVectorData1D.py
include examples/escript_twoDVectorData2D.py
include examples/escript_twoDVectorData3D.py

# these are the data files supporting the examples
include examples/waves.dat
#include examples/waves1d.dat

# the pdf version of the documentation
include doc/manual/pyvisi_doc.pdf

